body {
    background-color: rgb(226, 221, 221);
    font-family: Verdana, Arial, sans-serif;
}

h1 {
    color:rgb(131, 95, 95) ;
    border-radius: 8px/10px;
}

h2 {
    color:rgb(228, 216, 216);                                                                            
    background-color:rgb(131, 95, 95);
    border-radius: 8px/10px;
}

img {
    width: 100%;
}

.subtitulo4{                                                                                                               
    color:rgb(213, 213, 71);                             
}

nav {
    font-size: 24px;
    margin-left: 5px;
}

nav a{
    color:rgb(219, 96, 14);;
}
li a {
    color: rgb(219, 96, 14);
}
.enlace1{
    color:rgba(6, 164, 164, 0.884);
}
.enlace2 {
    color:rgba(230, 6, 6, 0.796);
}